
<h2>Movies I Want to Watch:</h2>

<ul>
    {% for movie in unwatched_movies %}
    <li>
        <form action="/watched-it" method="post">
            {{ movie }}
            <input type="hidden" name="watched-movie" value="{{ movie }}"/>
            <input type="submit" value="I Watched It!"/>
        </form>
    </li>
    {% endfor %}
</ul>

<form action="/add" method="post">
    <label>
        I want to add
        <input type="text" name="new-movie"/>
        to my watchlist.
    </label>
    <input type="submit" value="Add It"/>
</form>

<p class="error">{{ error if error else "" }}</p>
