<h2>Movies I Have Watched:</h2>

<ul>
    {% for movie in movies %}
    <li>
        <h3>{{ movie }}</h3>
        <form action="/ratings" method="post">
            <label>
                My Rating:
                <select name="rating">
                    <option>How was it?</option>
                    <option>*</option>
                    <option>**</option>
                    <option>***</option>
                    <option>****</option>
                    <option>*****</option>
                </select>
            </label>
            <input type="hidden" name="movie" value="{{ movie }}"/>
            <input type="submit" value="Rate it!"/>
        </form>
    </li>
    {% endfor %}
</ul>
